In [168]:
import pandas as pd

In [169]:
TP=pd.read_csv('archive.zip')
TP.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [170]:
TP.shape

(4653, 9)

In [171]:
TP['LeaveOrNot'].value_counts()

0    3053
1    1600
Name: LeaveOrNot, dtype: int64

In [172]:
balanced_data=TP.groupby(['LeaveOrNot'],group_keys=False).apply(lambda x: x.sample(n=1600, random_state=0))

In [173]:
balanced_data['LeaveOrNot'].value_counts()

0    1600
1    1600
Name: LeaveOrNot, dtype: int64

In [174]:
X_Leave, y_Leave=balanced_data.iloc[:,:-1], balanced_data['LeaveOrNot']

In [175]:
X_Leave.head(2)

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain
697,Masters,2017,Pune,2,26,Female,No,4
3530,Bachelors,2017,New Delhi,2,37,Male,No,0

In [176]:
y_Leave.head(2)

697     0
3530    0
Name: LeaveOrNot, dtype: int64

In [177]:
X_Leave['Education'].value_counts()

Bachelors    2440
Masters       644
PHD           116
Name: Education, dtype: int64

In [178]:
X_Leave['JoiningYear'].value_counts()

2017    731
2015    542
2014    460
2013    457
2018    364
2012    324
2016    322
Name: JoiningYear, dtype: int64

In [179]:
X_Leave['City'].value_counts()

Bangalore    1468
Pune          950
New Delhi     782
Name: City, dtype: int64

In [180]:
X_Leave['Gender'].value_counts()

Male      1806
Female    1394
Name: Gender, dtype: int64

In [181]:
X_Leave['EverBenched'].value_counts()

No     2846
Yes     354
Name: EverBenched, dtype: int64

In [182]:
X_dummies=pd.get_dummies(X_Leave)
X_dummies.head(2)

,JoiningYear,PaymentTier,Age,ExperienceInCurrentDomain,Education_Bachelors,Education_Masters,Education_PHD,City_Bangalore,City_New Delhi,City_Pune,Gender_Female,Gender_Male,EverBenched_No,EverBenched_Yes
697,2017,2,26,4,0,1,0,0,0,1,1,0,1,0
3530,2017,2,37,0,1,0,0,0,1,0,0,1,1,0

In [183]:
X_dummies.describe()

,JoiningYear,PaymentTier,Age,ExperienceInCurrentDomain,Education_Bachelors,Education_Masters,Education_PHD,City_Bangalore,City_New Delhi,City_Pune,Gender_Female,Gender_Male,EverBenched_No,EverBenched_Yes
count,3200.000000,3200.00000,3200.000000,3200.000000,3200.000000,3200.000000,3200.000000,3200.000000,3200.000000,3200.000000,3200.000000,3200.000000,3200.000000,3200.000000
mean,2015.165625,2.66375,29.301250,2.912812,0.762500,0.201250,0.036250,0.458750,0.244375,0.296875,0.435625,0.564375,0.889375,0.110625
std,1.907375,0.57351,4.839067,1.548091,0.425618,0.400997,0.186941,0.498373,0.429783,0.456952,0.495916,0.495916,0.313716,0.313716
min,2012.000000,1.00000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2014.000000,2.00000,26.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,2015.000000,3.00000,28.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,2017.000000,3.00000,32.000000,4.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,2018.000000,3.00000,41.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [184]:
from sklearn.model_selection import train_test_split

In [185]:
X_train, X_test, y_train, y_test=train_test_split(X_dummies, y_Leave, random_state=0)

# k-NN model

In [186]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import validation_curve

In [187]:
train_scores_knn, test_scores_knn = validation_curve(KNeighborsClassifier(), 
                                    X_train, y_train, param_name='n_neighbors', param_range=[5,7,10,15,20,25], cv=5)

In [188]:
train_scores_knn.mean(axis=1).round(3)

array([0.819, 0.806, 0.786, 0.779, 0.77 , 0.77 ])

In [189]:
test_scores_knn.mean(axis=1).round(3)

array([0.742, 0.735, 0.736, 0.737, 0.732, 0.733])

In [190]:
knn_cls_5=KNeighborsClassifier(n_neighbors=5)
knn_cls_5.fit(X_train, y_train)

KNeighborsClassifier()

In [191]:
print('Knn5 acc on train {:.2%}'.format(knn_cls_5.score(X_train, y_train)))
print('Knn5 acc on test {:.2%}'.format(knn_cls_5.score(X_test, y_test)))

Knn5 acc on train 81.25%
Knn5 acc on test 72.62%

In [192]:
p1=[[2017,2,37,0,1,0,0,0,1,0,0,1,1,0]]

In [193]:
knn_cls_5.predict(p1)

array([0], dtype=int64)

In [194]:
knn_cls_5.predict_proba(p1)

array([[0.6, 0.4]])

# Logistic Regression

In [195]:
from sklearn.model_selection import validation_curve
from sklearn.linear_model import LogisticRegression

In [196]:
C_range=[0.01,.1,1,2,5,10,15,20,30,40,50,60]

In [197]:
train_score_lr,test_score_lr=validation_curve(LogisticRegression(max_iter=10000, random_state=0),
                                X_train,y_train,param_name='C',param_range=C_range,cv=4)

In [198]:
train_score_lr.mean(axis=1).round(4)

array([0.6643, 0.6767, 0.6735, 0.6744, 0.6743, 0.6729, 0.6736, 0.6738,
       0.676 , 0.6764, 0.675 , 0.6751])

In [199]:
test_score_lr.mean(axis=1).round(4)

array([0.6604, 0.6717, 0.67  , 0.6708, 0.67  , 0.6704, 0.675 , 0.6729,
       0.675 , 0.675 , 0.6758, 0.6742])

In [200]:
log_reg_50=LogisticRegression(random_state=0, max_iter=1000, C=50)
log_reg_50.fit(X_train,y_train)

LogisticRegression(C=50, max_iter=1000, random_state=0)

In [201]:
print('log_reg50 acc on train {:.2%}'.format(log_reg_50.score(X_train, y_train)))
print('log_reg50 acc on test {:.2%}'.format(log_reg_50.score(X_test, y_test)))

log_reg50 acc on train 68.17%
log_reg50 acc on test 68.75%

In [202]:
p1=[[2017,2,37,0,1,0,0,0,1,0,0,1,1,0]]
log_reg_50.predict(p1)

array([0], dtype=int64)

In [203]:
log_reg_50.predict_proba(p1)

array([[0.77284748, 0.22715252]])

# SVM

In [204]:
from sklearn.svm import LinearSVC

In [205]:
from sklearn.preprocessing import MinMaxScaler

In [206]:
scaler1=MinMaxScaler()

In [207]:
X_dum_trns=scaler1.fit_transform(X_dummies)
X_dum_trns

array([[0.83333333, 0.5       , 0.21052632, ..., 0.        , 1.        ,
        0.        ],
       [0.83333333, 0.5       , 0.78947368, ..., 1.        , 1.        ,
        0.        ],
       [0.        , 1.        , 0.84210526, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.66666667, 1.        , 1.        , ..., 0.        , 1.        ,
        0.        ],
       [0.5       , 0.5       , 0.31578947, ..., 0.        , 0.        ,
        1.        ],
       [1.        , 1.        , 0.15789474, ..., 0.        , 1.        ,
        0.        ]])

In [208]:
X_train1,X_test1,y_train1,y_test1=train_test_split(X_dum_trns,y_Leave,random_state=0)

In [209]:
c_range_svm=[0.001,0.005,0.01,0.05,0.1,0.5,1,5,6,7]

In [210]:
train_Score_svm,test_Score_svm=validation_curve(LinearSVC(max_iter=100000, random_state=0),X_train1,y_train1,param_name='C',param_range=c_range_svm,cv=5)

In [211]:
train_Score_svm.mean(axis=1).round(4)

array([0.6714, 0.6874, 0.6916, 0.6918, 0.6919, 0.6932, 0.6931, 0.6929,
       0.6929, 0.6929])

In [212]:
test_Score_svm.mean(axis=1).round(4)

array([0.6675, 0.6838, 0.6875, 0.6904, 0.6908, 0.6938, 0.6933, 0.6933,
       0.6933, 0.6933])

In [213]:
svm5=LinearSVC(random_state=0,max_iter=100000,C=0.5)
svm5.fit(X_train1,y_train1)

LinearSVC(C=0.5, max_iter=100000, random_state=0)

In [214]:
print('svm acc on train {:.2%}'.format(svm5.score(X_train1, y_train1)))
print('svm acc on test {:.2%}'.format(svm5.score(X_test1, y_test1)))

svm acc on train 68.92%
svm acc on test 68.12%

In [215]:
p=[[2017,2,30,8,0,0,1,1,0,0,1,0,1,0]]
p_trns=scaler1.fit_transform(p)
p_trns

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [216]:
svm5.predict(p_trns)

array([1], dtype=int64)